footer p {
    color: #fff;
    z-index: 100;
}
footer {
    font-family: arial, sans-serif;
    min-height: 53px;
    background-color: var(--ship-gray);
}
footer, footer a {
    color: #ffffff;
}
footer ul {
    list-style-type: none;
}
.path-206, .path-205 {
    max-height: 15px;
    width: auto;
}
.app-store-icons {
    max-width: 300px;
}
.app-store-card {
    width: 100%;
}


.footer-layout {
    grid-template-columns: repeat(2, 1fr);
}
.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.footer-info-links li a {
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
}
    .social-info {
        grid-column: 1 / 3;
        width: 100%;
    }
    .social-info li {
        padding: .5em;
    }

    .app-store-card {
        grid-column: 1 / 3;
        width: 100%;
        justify-items: center;
    }
        .footer-info-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-left: 0;
            padding-left: 0;
        }

/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
@media screen and (min-width: 500px) {
    .social-info {
        width: 100%;
    }
        .footer-info-links {
            flex-direction: row;
            justify-content: center;
        }
        .footer-info-links li:not(:last-child) {
            padding: 0;
            margin: 0;
            border-right: 1px solid #ffffff;
        }


} /*END TABLET*/

@media screen and (min-width: 700px) {
    .social-info {
        grid-template-columns: 100px 1fr;
        grid-column: 1 / 3;
    }
        .footer-info-links {
            justify-content: left;
            grid-column: 2;
            font-size: 14px;
        }
            .footer-info-links li {
                grid-template-columns: repeat(4, 1fr);
            }
} /*END TABLET*/

@media screen and (min-width: 768px) {
} /*END TABLET*/

@media screen and (min-width: 992px) {
    .social-info {
        grid-column: 1;
    }
    .app-store-card {
        grid-column: 2;
    }
    .footer-info-links {
        font-size: 12px;
    }
    .social-media-icons {
        align-items: center;
    }

}/*END DESKTOP*/
@media screen and (min-width: 1200px) {
    .social-media-icons {
        grid-template-columns: 1fr 1fr;
    }
    .footer-info-links {
        font-size: 13px;
    }
    .footer-info-links {
        margin-left: 0;
        padding-left: 0;
    }
    .app-store-card {
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .app-store-card p {
        text-align: right;
        grid-column: 1;
    }
    .app-store-card img {

    }
    .social-info {
        padding-left: 4em;
    }

}/*END DESKTOP*/
