.grayBar {
    position: absolute;
    background-color: var(--ship-gray);
    width: 100vw;
    height: 53px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;
}
/*ensures footer bar is appropriate height for app store icons*/
/*corresponding section is footer on all pages with app store icons*/
[data-page="home"] .grayBar,
[data-page="trip-diary"] .grayBar,
[data-page="group-stats"] .grayBar,
[data-page="individual-stats"] .grayBar {
    height: 80.72px;
}
/*[data-page="trip-diary"] .grayBar {*/
/*    height: 75.72px;*/
/*}*/
footer p {
    display: flex;
    color: #fff;
    padding: 0;
    align-items: center;
    z-index: 100;
}
footer {
    font-family: arial, sans-serif;
    min-height: 1px;
    background-color: var(--ship-gray);
}
footer, footer a {
    color: #ffffff;
}
footer ul {
    list-style-type: none;
}
.path-206, .path-205 {
    max-height: 15px;
    width: auto;
}
.app-store-icons-mobile a:nth-of-type(1) img  {
    max-width: 150px; /*limit size of app store svgs/icons*/
    margin: 1em auto 1em auto;
}
.app-store-icons-mobile a:nth-of-type(2) img {
    margin: -3em auto -1em auto;
    max-width: 170px;
}
.app-store-card {
    width: 100%;
}


.footer-layout {
    grid-template-columns: repeat(2, 1fr);
}
.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.footer-info-links li a {
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
}

.social-info {
    grid-column: 1 / 3;
    width: 100%;
}
.social-info li {
    padding: .5em !important;
}

.app-store-card {
    grid-column: 1 / 3;
    width: 100%;
    justify-items: center;
    grid-auto-rows: auto;
}
.footer-info-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    margin-left: 0;
    padding-left: 0;
}
.footer-info-links li > a u {
    color: #fff !important;
}


/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
@media screen and (min-width: 500px) {

    .social-info {
        width: 100%;
    }
} /*END TABLET*/

@media screen and (min-width: 700px) {
    .app-store-icons-mobile {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .footer-info-links {
    flex-direction: row;
    justify-content: center;
}
    .footer-info-links li:not(:last-child) {
        padding: 0;
        margin: 0;
        border-right: 1px solid #ffffff;
    }
    /*shortens the while vertical border between FAQs, Contact Us, etc.*/
    .footer-info-links li {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        line-height: 12px;
    }
    .social-info {
        /*grid-template-columns: 100px 1fr;*/
        grid-template-columns: 1fr auto auto 1fr;
        justify-content: center;
        grid-column: 1 / 3;
    }
    .footer-info-links {
        justify-content: left;
        grid-column: 2;
        font-size: 14px;
    }
    .footer-info-links li {
        grid-template-columns: repeat(4, 1fr);
    }
    .app-store-icons-mobile a:nth-of-type(1) img {
        max-width: 150px; /*limit size of app store svgs/icons*/
        margin: -2em auto 0 auto;
    }
    .app-store-icons-mobile a:nth-of-type(2) img {
        margin: -2em auto 0 auto;
    }
} /*END TABLET*/

@media screen and (min-width: 768px) {
} /*END TABLET*/

@media screen and (min-width: 992px) {
    .footer-layout {
        padding-left: 4em;
    }
    .app-store-icons-mobile { /*align mobile icons horizontally*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-auto-rows: auto;
    }

    .app-store-icons-mobile a:nth-of-type(1) img  {
        max-width: 150px; /*limit size of app store svgs/icons*/
        margin: -.5em auto 0 auto;
        align-self: center;
        justify-self: center;
    }
    .app-store-icons-mobile a:nth-of-type(2) img {
        max-width: 170px;
        margin: -3em auto -2.5em auto;
        align-self: center;
        justify-self: center;
    }
    .social-info {
        grid-column: 1;
    }
    .app-store-card {
        grid-column: 2;
    }
    .footer-info-links {
        font-size: 12px;
    }
    .social-media-icons {
        align-items: center;
    }

}/*END DESKTOP*/
@media screen and (min-width: 1200px) {
    .footer-layout {
        padding-left: .5em;
    }
    .app-store-icons-mobile a:nth-of-type(1) img  {
        max-width: 120px; /*limit size of app store svgs/icons*/
        margin: -1.4em auto -2em auto;
    }
    .app-store-icons-mobile a:nth-of-type(2) img {
        max-width: 130px;
        margin: -2em auto -2em auto;
    }
    .social-media-icons {
        grid-template-columns: 1fr 1fr;
    }
    .footer-info-links {
        font-size: 13px;
    }
    .footer-info-links {
        margin-left: 0;
        padding-left: 0;
    }
    .app-store-card {
        justify-items: end;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .app-store-card p {
        text-align: right;
        grid-column: 1;
    }
    .social-info {
        padding-left: 4em;
    }

}/*END DESKTOP*/

@media screen and (min-width: 1280px) {
    .footer-layout {
        padding-left: .5em;
    }
    .app-store-icons-mobile a:nth-of-type(1) {
        background-color: blue;
        max-width: 150px; /*limit size of app store svgs/icons*/
        margin: 0  auto;

    }
    .app-store-icons-mobile a:nth-of-type(2) {
        max-width: 175px;
        margin: 0 auto;
    }
}
