@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:700,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/669feb5b6671cdc260940898.669feb5c6671cdc26094089b.f3RYELx.hcp.png");

@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeue Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial Regular.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.base {
  background-color: var(--citrus);
  height: 22px;
  margin-top: -2px;
  width: 1400px;
}

.perks-1 {
  height: 16px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 13px;
  margin-top: 1px;
  white-space: nowrap;
  width: 43px;
}

.bike {
  letter-spacing: 0;
  line-height: 12px;
  margin-right: 28.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 29px;
  white-space: nowrap;
}

.overlap-group {
  height: 93px;
  position: relative;
  width: 89px;
}

.riding-tips {
  left: 12px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.0;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.self-guidedrides {
  left: 11px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.0;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.overlap-group3-item {
  display: flex;
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 91px;
}

.bus {
  height: 16px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 8px;
  margin-top: 1px;
  white-space: nowrap;
  width: 27px;
}

.bus-1 {
  height: 16px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 8px;
  margin-top: 1px;
  white-space: nowrap;
  width: 27px;
}

.events {
  display: flex;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.events-1 {
  height: 16px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 11px;
  margin-top: 1px;
  white-space: nowrap;
  width: 50px;
}

.sign-in {
  min-width: 46px;
}

.sign-up {
  min-width: 52px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.sign {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 16px;
  text-align: center;
  white-space: nowrap;
}

.span-1 {
  text-decoration: underline;
}

.download-the-smart-t {
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  text-align: right;
  white-space: nowrap;
  width: 194px;
}

.bike-1 {
  line-height: 12px;
  margin-right: 26.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 31px;
}

.overlap-group4-item {
  display: flex;
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 91px;
}

.bike-2 {
  letter-spacing: 0;
  white-space: nowrap;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}