::after, ::before, * {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a {
    font-family: var(--font-family-lato);
}
h1, h2, h3, h4 {
    color: var(--green-blue);
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
a {
    color: var(--green-blue);
}
body {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}
video {
    width: 100%;
    height: auto;
}
body p {
    color: var(--ship-gray);
}
header {
    grid-column: 1 / 3;
    margin-top: 1em;
}
h1 {
    color: var(--green-blue);
    font-size: 32px;
}
.smart-trips_logo {
    min-width: 200px;
}
img {
    display: block;
    width: 100%;
}
.img {
    display: block;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.base {
    background-color: var(--citrus);
    min-height: 13px;
    max-height: 13px;
    width: 100%;
}
.base_bottom {
    background-color: var(--citrus);
    min-height: 13px;
    max-height: 13px;
    width: 100%;
}
.grid {
    display: grid;
}
.grid-two-column {
    grid-template-columns: 1fr;
    padding: .5em;
}
/*#####################################*/
/*###### CUSTOM BULLETS FOR UL's ######*/
/*#####################################*/
.custom-bullets {
    list-style: none;
    margin:0;
    padding: 0;
}
.custom-bullets li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.custom-bullets li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid var(--green-blue);
    border-bottom: 10px solid transparent;
}
.custom-bullets li a {
    text-decoration: none;
    font-weight: bold;
}
/*#####################################*/


.grid-two-column {
    grid-template-columns: 1fr;
}
.two-col-span {
    grid-column: 1 / 3;
}

/*###### TEMP COLORS ######*/
.background-red {
    background-color: #f00;
}
.background-blue {
    background-color: #00F;
}
.background-green {
    background-color: #0f0;
}
.text-color-black {
    color: #000;
}
.text-color-red {
    color: #f00;
}
.text-color-blue {
    color: #00f;
}
.text-color-green {
    color: #0f0;
}
.text-green-blue {
    color: var(--green-blue);
}
.text-citrus {
    color: #a1c11e;
}
.notes {
    color: var(--citrus); /*This class highlights what seem to be notes on the page*/
}
.page-title {
    padding-left: .4em;
}
.font-size-xlm {
    font-size: var(--font-size-xlm)
}
.hr-border-1 {
    border: var(--hr-border-style-gray-30);
}
.active {
    color: var(--finn);
}
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/


@media screen and (min-width: 768px) {
    .grid-two-column {
        grid-template-columns: 1fr;
    }
    .wrapper {
        margin-left: 5em;
        margin-right: 5em;
    }
}
@media screen and (min-width: 992px) {
    .grid-two-column {
        grid-template-columns: 1fr 1fr;
    }


}/*END DESKTOP*/
@media screen and (min-width: 1200px) {

}/*END DESKTOP*/
