/*#####################  MOBILE MENU #######################*/
/*#####################  MOBILE MENU #######################*/
/*#####################  MOBILE MENU #######################*/
.menu li a:hover {
    background-color: #aaa;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}
.header ul li {
    margin: .5em 1em;
}
.header ul a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.header ul a:hover {;
    color: var(--finn);
}
.header .smart-trips_logo {
    position: relative; /*Ensures (along with z-index) the logo is on top of the mobile menu*/
    float: left;
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: auto;
    max-width: 150px;
    z-index: 999 !important;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-in-out;
    background-color: #FFFFFF; /*background color of mobile dropdown menu*/
}
.header .menu-btn {
    display: none;
}
.header .menu-icon {
    padding: 1em;
    position: relative;
    float: right;
    cursor: pointer;
    min-height: 55px;
}
.header .menu-icon .nav-icon,
.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon:after {
    content: "";
    background: var(--ship-gray);
    display: block;
    height: var(--bar-height);
    width: var(--bar-width);
    border-radius: var(--roundedEnd);
    position: relative;
    /*top: 0;*/
    transition: all .2s ease-in-out;
}
.header .menu-icon .nav-icon:before {
    position: absolute !important;
    top: calc(var(--bar-height) + var(--bar-gap));
    transition: all .2s ease-in-out;
}
.header .menu-icon .nav-icon:after {
    position: absolute !important;
    top: calc(var(--bar-height) * 2 + var(--bar-gap) * 2);
    transition: all .2s ease-in-out;
}
.header .menu-btn:checked ~ nav .menu {
    max-height: 100vh;
}




/*################# MENU ANIMATION ###################*/
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(-45deg);
    top: calc(var(--bar-height) + var(--bar-gap));
}




/*#################  MOBILE MENU OVERLAY ###################*/
/*#################  MOBILE MENU OVERLAY ###################*/
/*#################  MOBILE MENU OVERLAY ###################*/

/*MOBILE MENU - TO OVERLAY CONTENT
   INSTEAD OF PUSHING IT DOWN*/
.header .menu-btn:checked ~ nav .menu {
        padding-top: calc(var(--header-height));
}
.header .menu-icon {
    z-index: 999;
}
nav {
    font-family: var(--font-family-arial-regular), sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 990;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.3);
}

/*Position of the home icon vertically*/
.home-icon {
    max-width: 25px;
    height: auto;

}


/*########### NEW NAV SUB-MENU TESTING ############*/
/*########### NEW NAV SUB-MENU TESTING ############*/
/*########### NEW NAV SUB-MENU TESTING ############*/
.toggle, [id^=nav-sub-menu] {
    display: none;
}
nav ul ul {
    display: none;
}
.tier-1-perks:hover ~ .tier-2-perks, ul.tier-2-perks:hover {
    display: block;
}
.tier-1-bike:hover ~ .tier-2-bike, ul.tier-2-bike:hover {
    display: block;
}
.tier-1-bus:hover ~ .tier-2-bus, ul.tier-2-bus:hover {
    display: block;
}
.tier-1-rideshare:hover ~ .tier-2-rideshare, ul.tier-2-rideshare:hover {
    display: block;
}
.tier-1-events:hover ~ .tier-2-events, ul.tier-2-events:hover {
    display: block;
}
@media only screen and (min-width: 1280px) {

}
/*########### NEW NAV SUB-MENU TESTING ############*/
/*########### NEW NAV SUB-MENU TESTING ############*/
/*########### NEW NAV SUB-MENU TESTING ############*/





/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
@media screen and (max-width: 218px) {
    .header img {
        min-width: 100px;
        width: 100%;

    }
    .header .smart-trips_logo {
        padding: 0;
    }
}


/*Screen surpasses 440px */
@media screen and (min-width: 768px) {
    .header .smart-trips_logo {
        max-width: 250px;
    }
}


/*Screen surpasses 1153px*/
@media screen and (min-width: 1280px) {
    .home-icon {
        position: relative;
        top: -5px;
    }
    nav {
        position: relative;
        left: 0;
        padding-top: 0;
        width: 100%;
        font-size: 14px;
    }
    /*MOBILE MENU*/
    .header li {
        float: left;
    }
    .header li a {

    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

    .header .menu-btn:checked ~ nav .menu {
        padding-top: 0;
    }
    .menu li a:hover {
        background-color: transparent;
    }
    .button_blue {
        background-color: var(--green-blue);
        font-family: arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 3px;
    }
    .button_blue:hover {
        background-color: rgba(26, 109, 181, 1) !important;
    }

    /*########### NEW NAV SUB-MENU TESTING ############*/
    /*########### NEW NAV SUB-MENU TESTING ############*/
    /*########### NEW NAV SUB-MENU TESTING ############*/

    /*Perks sub-nav*/
    .tier-1-perks:hover ~ .tier-2-perks, ul.tier-2-perks:hover {
        position: absolute;
        display: block;
    }
    .tier-1-perks:hover ~ .tier-2-perks, ul.tier-2-perks:hover {
        display:flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    /*Bike sub-nav*/
    .tier-1-bike:hover ~ .tier-2-bike, ul.tier-2-bike:hover {
        position: absolute;
        display: block;
    }
    .tier-1-bike:hover ~ .tier-2-bike, ul.tier-2-bike:hover {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    /*Bus sub-nav*/
    .tier-1-bus:hover ~ .tier-2-bus, ul.tier-2-bus:hover {
        position: absolute;
        display: block;
    }
    .tier-1-bus:hover ~ .tier-2-bus, ul.tier-2-bus:hover {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    /*Rideshare sub-nav*/
    .tier-1-rideshare:hover ~ .tier-2-rideshare, ul.tier-2-rideshare:hover {
        position: absolute;
        display: block;
    }
    .tier-1-rideshare:hover ~ .tier-2-rideshare, ul.tier-2-rideshare:hover {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    /*Events sub-nav*/
    .tier-1-events:hover ~ .tier-2-events, ul.tier-2-events:hover {
        position: absolute;
        display: block;
    }
    .tier-1-events:hover ~ .tier-2-events, ul.tier-2-events:hover {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }
    /*########### NEW NAV SUB-MENU TESTING ############*/
    /*########### NEW NAV SUB-MENU TESTING ############*/
    /*########### NEW NAV SUB-MENU TESTING ############*/



} /*END MOBILE CHANGES ( < 1153px) */



















