* {
    font-family: var(--font-family-lato), sans-serif;
    color: var(--ship-gray);
}
.desktop-line-break {
    display: none;
}
.green-divider {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1em;
    background-color: var(--citrus);
}
.map-slice {
    opacity: .5;
}
.station-map {
    max-height: 323px;
}
.bike-to-work-and-school-page-wrapper {
    margin-top: 6em;
}
.row-1 {
    background: #0297B7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #fff;
    padding: 0;
    margin: 0;
}
.bike-to-work-and-school-info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3em;
}
.row-1 h1 {
    font-size: var(--font-size-xxxl);
}
.row-1 p {
    color: #fff;
    line-height: 1.4em;
    font-size: var(--font-size-s);
}

.row-1 .title-text {
    margin-top: 2em;
    color: #fff;
}
.custom-bullets li::before {
    font-family: var(--font-family-lato), sans-serif;
    content: ">";
    font-weight: bold !important;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    color: var(--white);
}
.row-1 ul li {
    color: #fff;
}
.row-4 {
    min-height: 300px;
}




/*ROW-2*/
.row-2 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #7F7F7F2E !important;
}
.row-2 .discount-guide {
    margin: 0 auto;
    padding: 2em;
    max-height: 500px;
    width: auto;
    display: block;
}
.row-2 h2 {
    color: var(--finn);
}
.bike-route-resources {
    padding: 0 3em;
}
.bike-route-resources p {
    line-height: 1.3em;
}

/*Row 3*/
.event-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.c-1 img:first-of-type {
    margin-bottom: 1em;
}
.c-2 {
    margin: 0 1em;
}
.c-2 h2 {
    font-size: var(--font-size-xxxxl);
    color: var(--finn);
    margin-bottom: 0;
    padding-bottom: 0;
}
.c-2 p {
    color: #3d3c3e;
    margin: .5em 0;
}
.c-2 p:nth-of-type(3) {
    margin-bottom: 1.3em;
}
.station-info {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2.5em 0;
}
.c-2 p:nth-of-type(4) {
    font-size: 14px;
    color: #3D3C3E;
}
.station-info li {
    margin-bottom: .5em;
}
.station-location-link {
    display: block;
    margin: .8em 0 2em 0;
}
.station-map {
    height: 280px;
    width: auto;
    display: block;
}





/*#############################################*/
/*############# EVENTS BUTTON #################*/
/*#############################################*/
.events-button {
    font-size: 19px;
    text-decoration: none;
    background-color: var(--finn);
    color: #fff;
    font-family: var(--font-family-arial-bold), sans-serif;
    padding: .8em .6em;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.row-4 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/*#############################################*/
/*####### EVENTS BUTTON CONTAINER #############*/
/*#############################################*/
.events-button-container {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.events-button-container a {
    position: relative;
    display: inline-block;
}


/*#############################################*/
/*####### ROW-4 INITIAL STRUCTURE #############*/
/*#############################################*/
.gear-awards {
    max-width: 100px;
}
.bike-event-photo {
    max-width: 600px;
}
.row-4 h2 {
     color: #fff;
 }
.row-4 p {
    color: #fff;
}

/*TODO: Adjust to match image in top left corner*/
.specialBike-bg {
    width: 100%;
    background:
            url("../img/SpecialBike_Updated.png") no-repeat center bottom,
            radial-gradient(at top left,    rgba(35, 174, 205, 1), transparent 100%),
            radial-gradient(at top right,   rgba(35, 174, 205, 1), transparent 100%),
            radial-gradient(at bottom left, rgba(35, 174, 205, 1), transparent 100%),
            radial-gradient(at bottom right, rgba(35, 174, 205, 1), transparent 100%);
    background-size: contain;
    background-position: bottom center;
}
.special-bike-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.BTSWD-image-container {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.bike-event-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}
/*################# ROW-4 #####################*/
/*################# ROW-4 #####################*/
/*################# ROW-4 #####################*/
.special-bike-content-wrapper {
    padding-bottom: 220px;
}
/*ELEMENTS*/
.events-button-container {
    position: relative;
    top: 0%;
    margin: 0 auto;
    text-align: center;
    display: block;
    min-width: 250px;
    width: 100%;
}
.special-bike-information {
    grid-column: 1;
    margin-left: 30px;
    margin-right: 30px;
}
.special-bike-gear-image-container {
    display: none;
}
.BTSWD-image-container {
    position: relative;
    top: 20%;
    width: 80%;
    margin: 0 auto;
}


/*#############################################*/
/*#############################################*/
/*############## MEDIA QUERIES ################*/
/*#############################################*/
/*#############################################*/
@media only screen and (min-width: 380px) {
    .special-bike-content-wrapper {
        padding-bottom: 250px;
    }
    .BTSWD-image-container {
        position: relative;
        top: 20%;
    }
    .station-map {
        height: 250px;
        margin-bottom: 2em;
    }

}/*######## END 380 ########*/

@media only screen and (min-width: 460px) {
    .special-bike-content-wrapper {
        padding-bottom: 300px;
    }
    .BTSWD-image-container {
        position: relative;
        top: 20%;
    }
    .desktop-line-break {
        display: block;
    }
    .events-button-container {
        top: 25%;
    }
}/*######## END 460 ########*/


@media only screen and (min-width: 568px) {
    .col-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 0;
    }
    .map-slice-container{
         grid-column: 1 / -1;
     }
    .map-slice {
        width: 100%;
        display: block;
        column-span: 2;
    }

    .bike-route-resources {
        position: relative;
        left: -40px;
        max-width: 600px;
    }
    /*################# ROW-4 #####################*/
    /*################# ROW-4 #####################*/
    /*################# ROW-4 #####################*/
    .special-bike-content-wrapper {
        padding-bottom: 350px;
        grid-template-columns: .6fr 1fr;
        grid-gap: 0;
    }
    .special-bike-gear-image-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-row: 1 / span 2;
        text-align: center;
        place-items: center;
        justify-self: end;
        position: relative;
        top: 8%;
    }
    .gear-awards {
        max-width: 160px;
        margin: 0 auto;
    }
    .special-bike-information {
        grid-column: 2;
    }
    .BTSWD-image-container {
        position: relative;
        top: 200%;
    }
    .events-button-container {
        position: relative;
        top: 20%;
    }
    .BTSWD-image-container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        top: 30%;
        grid-column: 1 / span 2;
    }
}/*######## END 568 ########*/

@media only screen and (min-width: 620px) {
    .special-bike-content-wrapper {
        padding-bottom: 400px;
    }
    .special-bike-gear-image-container {
        justify-self: end;
    }
    .gear-awards {
        max-width: 180px;
        margin: 0 auto;
    }
    .BTSWD-image-container {
        position: relative;
        width: 75%;
        height: 160px;
        top: 30%;
        grid-column: 1 / span 2;
    }
    .special-bike-content-wrapper {
        grid-template-columns: .6fr 1fr;
    }

}/*######## END 620 ########*/

@media only screen and (min-width: 768px) {
    .row-2 .discount-guide {
        max-height: 400px;
    }
    .grid-two-column {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}/*######## END 768 ########*/


@media only screen and (min-width: 886px) {
    .row-4-gradient-background-color {
        all: unset;
        position: relative;
        overflow: hidden;
        width: 100%;         /* or any fixed size */
        height: 100%;
        min-height: 576px;
    }
    .specialBike-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-position: calc(50% + 100px) center; /* shift background image 50px to the right */
        background-repeat: no-repeat;
    }
    .special-bike-information,
    .events-button-container,
    .special-bike-gear-image-container,
    .BTSWD-image-container {
        all: unset;
    }

    /*.BTSWD-image-container {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    width: auto;*/
    /*    height: 150px;*/
    /*    overflow: hidden;*/
    /*    background-color: #999;*/
    /*}*/
    /*.bike-event-photo {*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    /*    width: 50%;*/
    /*    height: auto;*/
    /*    transform: translate(-50%, -50%);*/
    /*}*/
    .special-bike-content-wrapper {
        all: unset;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    .special-bike-information .desktop-line-break {
        display: none;
    }
    .item {
        position: absolute;

    }
    .item-1 {
        top: 0;
        left: 15px;
        width: 250px;
    }
    .item-2 {
        right: 20px;
        top: 160px;
    }
    .item-3 {
        max-width: 100px;
        bottom: 130px;
        left: 40px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }
    .item-4 {
        position: absolute;
        width: 300px;   /* or % or clamp() */
        height: 150px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }






}/*######## END 886 ########*/



@media only screen and (min-width: 992px) {
    .bike-to-work-and-school-info {
        width: 80%;
        margin: 0 auto;
    }
    .row-1 {
        max-height: 600px;
        display: grid;
        grid-template-columns: 42% 58%;
        align-items: center;
        gap: 0;
        position: relative;
        overflow: hidden;
    }
    .full-height-image {
        display: block;
        height: 100%;
        width: 100%;
    }
    .full-height-image .image-container {
        width: 80%;
        height: 100%;
        position: relative;

        display: block;
        overflow: hidden;
    }
    .full-height-image .image-container img {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .row-2 {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr;
    }
    .row-2 .discount-guide {
        max-height: 300px;
    }
    .col-1 {
        grid-column: span 2;
        width: 100%;
        grid-template-columns: 1fr 2fr;
    }
    .map-slice-container {
        display: grid;
        align-items: center;
        height: 100%;
    }
    .map-slice {

    }
    .discount-guide {
        position: relative;
        left: 20px;
    }
    .bike-route-resources {
        position: relative;
        max-width: 600px;
    }
    /*################# ROW-4 #####################*/
    /*################# ROW-4 #####################*/
    /*################# ROW-4 #####################*/
    /*.special-bike-content-wrapper {*/
    /*    position: relative;*/
    /*    height: 100%;*/
    /*}*/
    /*.special-bike-gear-image-container {*/
    /*    position: absolute;*/
    /*    grid-row: 2;*/
    /*    grid-column: 1;*/
    /*    text-align: left;*/
    /*    align-self: end;*/
    /*    justify-self: start;*/
    /*    left: 0;*/
    /*    bottom: 0;*/

    /*}*/
    /*.special-bike-information {*/
    /*    grid-column: 1;*/
    /*    position: relative;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    margin-left: 15%;*/
    /*    margin-right: 20%;*/
    /*}*/
    /*.events-button-container {*/
    /*    position: relative;*/
    /*    top: 180%;*/
    /*    left: 10%;*/
    /*    bottom:0;*/
    /*    grid-column: 2;*/
    /*    grid-row: 2;*/
    /*}*/
    /*.BTSWD-image-container {*/
    /*    display: block;*/
    /*    top: 0;*/
    /*    right: -10%;*/
    /*    width: 90%;*/
    /*    height: auto;*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    grid-column: 2;*/
    /*    grid-row: 1;*/
    /*    background-color: #69165e;*/
    /*}*/

    .item-1 {
        top: 0;
        left: 15px;
        width: 300px;
    }
    .item-2 {
        right: 20px;
        top: 220px;
    }
    .item-3 {
        max-width: 120px;
        bottom: 0;
        left: 0;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }
    .item-4 {
        position: absolute;
        width: 350px;
        height: 170px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }



}/*######## END 992 ########*/


@media only screen and (min-width: 1217px) {
    .row-3 {
        display: grid;
        grid-template-columns: 55% 40%;
        grid-gap: 5%;
    }




    .item-1 {
        top: 0;
        left: 50px;
        width: 350px;
    }
    .item-2 {
        right: 20px;
        top: 350px;
    }
    .item-3 {
        max-width: 150px;
        bottom: 0;
        left: 0;
        box-shadow: none;
    }
    .item-4 {
        position: absolute;
        width: 400px;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }



}/*######## END 1217 ########*/


@media only screen and (min-width: 1268px) {
    .row-3 {
        grid-template-columns: 42% 56%;
        grid-gap: 2%;
    }

    .special-bike-content-wrapper {
        width: 100%;
    }
    .specialBike-bg {
        background-position: calc(50% + 50px) center;
    }


    .item-2 {
        right: 40px;
        top: 400px;
    }
    .item-4 {
        width: 440px;
        height: 250px;

    }


}/*######## END 1268 ########*/


@media only screen and (min-width: 1400px) {
    .row-2 {
        grid-template-columns: 42% 58%;
    }

    .col-1 {
        grid-column: 1;
        justify-content: start;
        margin-left: 52px;
        grid-gap: 1em;
    }

    .map-slice-container {
        display: grid;
        align-items: center;
        grid-column: 2;
        overflow: hidden;
    }

    .map-slice {
        height: 100%;
        width: auto;
    }

    h1 {
        margin-bottom: .9em;
    }

    .bike-to-work-and-school-info {
        width: 100%;
        margin-left: auto;
    }

    .title-text {
        width: 70%;
        margin-left: auto;
        margin-right: 10%;
    }

    .bike-to-work-and-school-info p {
        width: 70%;
        margin-left: auto;
        margin-right: 10%;
    }

    .bike-to-work-and-school-info ul {
        width: 70%;
        margin-left: auto;
        margin-right: 10%;
    }


    /*########### FINAL DESKTOP LAYOUT #############*/
    .specialBike-bg {
        background-position: calc(50%) center;

    }
    .item-1 {
        font-family: var(--font-family-arial-regular), sans-serif;
        font-size: 13px;
        font-weight: 100;
        top: 0;
        left: 50px;
        width: 350px;
    }
    .item-2 {
        right: 100px;
        top: 400px;
    }
    .item-3 {
        max-width: 150px;
        bottom: 0;
        left: 0;
        box-shadow: none;
    }
    .item-4 {
        width: 540px;
        height: 260px;
    }


}/*######## END 1400 ########*/