.bikes hr {
    border: var(--hr-border-style-gray-30);
    width: 100%;
    grid-row: 20;
}
.bike-smart-trip-schools {
    padding-bottom: 1em;
}
.bikes {
    padding: 0 1em 1em 1em;
}
.bikes video {
    margin: 2em 0 2em 0;
}
.bikes p {
    margin-bottom: .5em;
    line-height: 1.2;
}
.bikes img {
    max-width: 400px;
    justify-self: center;
}
.bikes h3 {
    margin: 2em 0 .5em 0;
    padding: 0;
}
.bikes h3 + p {
    margin: 0 0 auto 0;
}
.bikes .bikes-bellingham-map {
    margin: .5em 0 0 0;
}
@media screen and (min-width: 480px) {
    .bikes {
        padding: 0 1em 3em 1em;
    }
}

@media screen and (min-width: 768px) {
    .bikes hr {
        border: var(--hr-border-style-gray-30);
        grid-row: 18;
    }
    .bikes .bikes-bellingham-map {
        margin: .5em 0 .5em 0;
    }
    .bikes {
        grid-template-columns: 50% 50%;
        grid-column-gap: 3em;
    }
    .bikes img {
        grid-column: 2;
    }
    .bikes p, .bikes h3, .bikes ul, .bikes a, .bikes video {
        grid-column: 1;
    }
    .bikes .image-bikes-buckling-helmet {
        grid-row: 1 / span 10;
    }
    .bikes .image-bikes-trail-riding {
        grid-row: 10 / span 6;
    }
}

@media screen and (min-width: 992px) {
    .bikes .image-bikes-trail-riding {
        grid-row: 12 / span 6;
    }
}

