* {
    color: var(--ship-gray);
}
/*MOVES ALL CONTENT DOWN TO MATCH COMP - DIFFERENT BETWEEN PAGES BASED ON DESIGN*/
.bike-class-content {
    margin-top: 4em;
}
.bike-classes p:nth-of-type(1) {
    margin-top: .5em;
}
h2 {
    font-size: var(--font-size-xxl);
}
.faqs {
    margin-bottom: 0;
}
.faqs + dl {
    margin-top: .5em;
}
.class-location-questions {
    list-style-type: none;
    margin: 0 0 .5em;
    padding: 0;
}
.line-break {
    display: block;
    margin-bottom: .5em;
}
.class-location-questions li {
    margin-top: .5em;
    margin-bottom: .6em;
}
.bike-classes p:nth-of-type(1) {
    margin-bottom: 0;
}
.classDescription {
    margin-bottom: 1.5em;
}
dl, ul {
    font-family: var(--font-family-lato), sans-serif;
}
.bike-classes {
    padding: 1em;
    grid-column-gap:9em;
}
.bike-classes .pad-bottom-1 {
    margin-bottom: 1em;
}
#teenTravelSkills {
    margin-bottom: 0;
}
#teenTravelSkills + p {
    margin-top: .5em;
}

.learnToRideQA dd, .cityCycling1QA dd, .cityCycling2QA dd, .rideAlongQA dd, .eBikeQA dd, .familyClassQA dd,
.teenBikeClassQA dd, .teenBusClassQA dd, .bikeMaintenanceQA dd {
    margin: 0 0 2.3em;
}
.learnToRideQA, .cityCycling1QA, .cityCycling2QA, .rideAlongQA, .eBikeQA, .familyClassQA,
.teenBikeClassQA, .teenBusClassQA, .bikeMaintenanceQA {
    margin-bottom: 2em;
}
.bike-classes-skills {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bike-classes-skills {
    margin-bottom: -1em;
}
.bike-classes-skills li {
    padding-bottom: .6em;
}

.bike-class-information {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2em;
}
.bike-class-information li {
    margin-top: .5em;
    margin-bottom: .5em;
}

.bike-classes-top-link {
    text-decoration: none;
}
.bike-classes .bike-classes-top-link:hover {
    color: var(--finn);
    font-weight: bold;
}
.bike-classes hr {
    margin-bottom: .1em;
    border: var(--hr-border-style-gray-30);
    grid-column: 1 / 2;
    display: block;
    width: 100%;
}
/*HR positions on mobile devices*/
.learnToRideHR {
    grid-row: 7;
}
.cityCycling1HR {
    grid-row: 18;
}
.cityCycling2HR {

}
.eBikeHR {

}
.bike-classes-schedule + p {
    margin-top: .5em;
    margin-bottom: .1em;
}
.pad-bottom {
    padding-bottom: 2em;
}
.bike-classes dl dt {
    margin-bottom: .5em;
}
.scrollInfo {
    line-height: 1.6;
    color: var(--green-blue) !important;
    margin-bottom: 2em;
}
.cityCyclingSkills {
    margin-bottom: 1.5em;
}
.rideAlongSkills, .eBikeSkills, .familyClassSkills, .teenBikeSkills, .teenBusSkills, .bikeMaintenanceSkills,
.phoneConsultationSkills, .routePlanningSkills {
    margin-bottom: 1em;
}

@media screen and (min-width: 992px) {
    .bike-classes {
        position: relative;
        top: -40px;
    }
    .bike-classes .learnToRideHR {
        grid-row: 6;
    }
    .bike-classes .cityCycling1HR {
        grid-row: 16;
    }
    .bike-classes h2 {
        margin-bottom: 0;
    }
    .bike-classes img {
        grid-column: 2;
    }
    .bike-classes p, .bike-classes ul, .bike-classes a, .bike-classes h2,
    .bike-classes dl, .bike-classes h3 {
        grid-column: 1;
    }
    .image-riding-bike-dirt-road {
        grid-row: 2 / span 5;
    }
    .learnToRideHR {
        grid-column: 1;
        grid-row: 6;
    }
    .image-walking-bikes {
        grid-row: 5 / span 6;
        align-self: center;
        justify-self: center;
    }
    .pad-bottom {
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .learnToRideHR {
        grid-row: 6;
    }
    .image-walking-bikes {
        position: relative;
        grid-row: 4 / span 9;
        top: 30px;
        align-self: center;
        justify-self: center;
    }
}