.bus {
    padding: 0 1em 3em 1em;
    grid-column-gap: 3em;
}
.bus video {
    padding: 1em 0 2em 0;
    width: 100%;
    height: auto;
}
.bus .bus-tips li {
    margin-top: 1em;
    margin-bottom: 1em;
}
.bus ul {
    font-family: var(--font-family-lato);
    list-style: none;
    padding: 0;
    margin: 0;
}
.bus img {
    max-width: 500px;
    align-self: center;
    justify-self: center;
}
.bus h3 {
    margin: 1em 0 .5em 0;
}
@media screen and (min-width: 768px) {
    .bus img {
        grid-column: 2;
        max-width: 300px;

    }
    .image-bus-driver {
        grid-row: 1 / span 9;
    }
    .bus .image-bus-loading-bike {
        grid-row: 17 / span 4;
        align-self: start;
        justify-self: start;
    }
    .bus p, .bus h3, .bus a, .bus span, .bus ul, .bus video {
        grid-column: 1;
    }
}
@media screen and (min-width: 992px) {
    .bus .image-bus-loading-bike {
        grid-row: 16 / span 8;
        justify-self: center;
        align-self: start;
    }
    .image-bus-driver {
        grid-row: 1 / span 14;
    }
    .bus img {
        max-width: 500px;
    }
    .bus h3:first-of-type {
        margin: 1em 0 .5em 0;
    }
    .bus p {
        margin: 0 0 .7em 0;
    }
    .bus-bellingham-map {
        padding-bottom: .5em;
    }
}