dl, ul {
    font-family: var(--font-family-lato);
}
.bike-classes {
    padding: 1em;
    grid-column-gap: 3em;
}
.bike-classes .pad-bottom-1 {
    margin-bottom: 1em;
}
dd {
    margin: 0;
    padding-bottom: 1.5em;
}
.bike-classes-skills {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bike-classes-skills li {
    padding-bottom: 1em;
}
.bike-class-information dt, .bike-class-information dd {
    display: inline-block;
    padding: 0;
    margin-bottom: .8em;
}
.bike-classes-top-link, .bike-classes-schedule {
    text-decoration: none;
}
.bike-classes .bike-classes-top-link:hover {
    color: var(--finn);
    font-weight: bold;
}
.bike-classes hr {
    border: var(--hr-border-style-gray-30);
    grid-column: 1 / 2;
    grid-row: 7;
    display: block;
    width: 100%;
}
.pad-bottom {
    padding-bottom: 2em;
}
.bike-classes dl dt {
    margin-bottom: .5em;
}

@media screen and (min-width: 992px) {
    .bike-classes hr {
        grid-row: 6;
    }
    .bike-classes h3 {
        margin-bottom: 0;
    }
    .bike-classes img {
        grid-column: 2;
    }
    .bike-classes p, .bike-classes ul, .bike-classes a, .bike-classes h3,
    .bike-classes dl {
        grid-column: 1;
    }
    .image-riding-bike-dirt-road {
        grid-row: 2 / span 5;
    }
    hr {
        grid-column: 1;
        grid-row: 6;
    }
    .image-walking-bikes {
        grid-row: 6 / span 6;
        align-self: center;
        justify-self: center;
    }
    .pad-bottom {
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .bike-classes hr {
        grid-row: 6;
    }
    .image-walking-bikes {
        grid-row: 5 / span 9;
        align-self: center;
        justify-self: center;
    }
}