.employer-partner-info {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-auto-rows: auto;*/
    padding: 1em;
}
.employer-partner-info .custom-unordered-list-type-1 {
    color: var(--ship-gray);
    padding-left: 1em;
}
.contactBox-employer-partners {
    padding: 1em;
    background-color: var(--finn);
    border-radius: 15px;
    color: #fff;
    min-height: 150px;
    align-self: flex-start;
    margin-bottom: 2em;
}
.contactBox-employer-partners h3, .contactBox-employer-partners p,
.contactBox-employer-partners a {
    color: var(--white);
}
.employer-partners-best-practices-list {
    margin-left: 1em;
    padding: 0;
}

.employer-partners-best-practices-list ul > li {
    text-indent: 0;
}
.toolkitBox-employer-partners {
    background-color: #dddddd;
    border: 3px solid var(--green-blue);
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin: 2em;
}
.toolkitBox-employer-partners img {
    max-width: 75px;
}
.toolkitBox-employer-partners a {
    font-size: x-large;

}
.employer-partner-info h2 {
    padding: 0;
    margin: 0;
}
.employer-partner-info > p:first-of-type {
    color: var(--green-blue);
}
.employer-partner-info h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.employer-partner-info h3:nth-of-type(2) {
    margin-bottom: 1em;
}
.employer-partner-info ul {
    line-height: 1.8em;
    font-family: var(--font-family-lato), sans-serif;
}
.employer-partner-info > ul:nth-of-type(1),
.employer-partner-info > ul:nth-of-type(3) {
    margin-bottom: 2em;
}
.custom-unordered-list-type-1 li {
    text-indent: 0;
}
.employer-partner-info h4 {
    margin-bottom: .5em;
}
.best-practices-link {
    color: var(--ship-gray);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .employer-partner-info {
    grid-template-columns: 55% 45%;
    column-gap: 3em;
    }
    .employer-partners-best-practices-list {
        margin-top: 0;
    }
    .employer-partners-best-practices-list > li {
        text-indent: 2em;
    }

    .employer-partner-info p {
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .employer-partner-info h1, .employer-partner-info p,
    .employer-partner-info h3, .employer-partner-info ul,
    .employer-partner-info aside {
        grid-column: 1;
    }
    .employer-partner-info img {
        padding: 1em;
        grid-column: 2;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .toolkitBox-employer-partners {
        margin-left: 0;
        margin-right: 0;
    }
    .employer-partners-img-1 {
        grid-row: 1 / span 11;
    }
    .employer-partners-img-2 {
        grid-row: 11 / span 4;
    }
    .employer-partners-img-3 {
        grid-row: 14 / span 4;
    }
    .employer-partners-img-4 {
        grid-row: 18 / span 8;
    }
    .employer-partners-img-5 {
        grid-row: 27 / span 8;
    }
}
@media only screen and (min-width: 992px) {
    .employer-partner-info {
        grid-template-columns: 1fr 1fr;
    }
    .custom-unordered-list-type-1 li {
        text-indent: 2em;
    }
}
@media only screen and (min-width: 1280px) {
    .employer-partner-info {
        grid-template-columns: 55% 45%;
        column-gap: 2em;
    }
    .employer-partner-button_blue {
        background-color: var(--green-blue);
        font-family: arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 3px;
        padding: .5em 2em .5em 2em !important;
    }
    .employer-partner-button_blue:hover {
        background-color: rgba(26, 109, 181, 1) !important;
    }
    .employer-partner-button_green {
        background-color: var(--citrus);
        font-family: arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 3px;
        padding: .5em 2em .5em 2em !important;
    }
    .employer-partner-button_green:hover {
        background-color: rgba(161, 193, 30, 1) !important;
    }
}