.ellipse, .ellipse-active {
    border-radius: 3px;
    height: 6px;
    width: 6px;
    margin: 5px;
    box-shadow: 1px 2px 3px rgb(0,0,0,.5);
}
.ellipse {
    background-color: var(--white);
}
.ellipse-active {
    background-color: var(--sail);
}
.events-pagination {
    position: relative;
    top: -50px;
    min-width: 100px;
    min-height: 30px;
    grid-template-columns: repeat(4, 20px);
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.events h3 {
    color: var(--ship-gray);
}
.events-banner-content-details {
    font-family: var(--font-family-lato);
    list-style: none;
    margin: 0;
    padding: 0;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FFFFFF;
    font-weight: bold;
    font-size:50px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    z-index: 999;
}
.prev-image {
    max-width: 30px;
}
.next-image {
     max-width: 30px;
 }
.events-slideshow-container a:first-child {
    justify-self: start;
}
.events-slideshow-container a:last-child {
    justify-self: end;
}

.prev:hover, .next:hover {
    color: var(--citrus);
}
.events-slideshow {
    grid-column: 1 / 3;
    margin-bottom: 5em;
}
.events-slideshow-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.events-slideshow-container {
    grid-template-rows: 50% 50%;
}
.slides {
    grid-row: 1;
    grid-column: 1 / 4;
}
.prev {
    align-self: center;
    grid-row: 2;
    grid-column: 1 / 4;
    align-items: center;
}
.next {
    text-align: right;
    align-self: center;
    grid-row: 2;
    grid-column: 3;
}
.events-details {
    padding-bottom: 1.5em;
    z-index: 4;
}
.events-details-banner {
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--citrus);
}
.events-details-banner h2 {
    font-size: 32px;
    color: #FFFFFF;
}
.events-banner-content {
    padding: 1em;
    height: auto;
}
.events-register-button {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--green-blue);
    color: #FFFFFF;
}
.events-details {
    grid-row: 2 / span 2;
    position: relative;
}
.slides {
    position: relative;
    grid-row: 1 / span 2;
}
.events-slideshow-container {
     grid-template-rows: 90% 10%;
 }
@media screen and (min-width: 200px) {
    .events-slideshow-container {
        grid-template-rows: 80% 20%;
        transition: grid-template-rows .2s ease;
    }
}
@media screen and (min-width: 300px) {
    .events-slideshow-container {
        grid-template-rows: 70% 30%;
        transition: grid-template-rows .2s ease;
    }
}
@media screen and (min-width: 400px) {
    .events-slideshow-container {
        grid-template-rows: 65% 35%;
        transition: grid-template-rows .2s ease;
    }
}
@media screen and (min-width: 500px) {
    .events-slideshow-container {
        grid-template-rows: 55% 45%;
        transition: grid-template-rows .2s ease;
    }
}
@media screen and (min-width: 580px) {
    .events-slideshow-container {
        grid-template-rows: 50% 50%;
        transition: grid-template-rows .2s ease;
    }
    .prev-image {
        max-width: 50px;
    }
    .next-image {
        max-width: 50px;
    }
}
@media screen and (min-width: 808px) {
    .events-slideshow-container {
        grid-template-rows: 10% 90%;
    }
    .prev {
        align-self: center;
        grid-row: 2;
        grid-column: 1 / 4;
        align-items: center;
    }
    .next {
        text-align: right;
        align-self: center;
        grid-row: 2;
        grid-column: 3;
    }
    .events-details {
        display: grid;
        background-color: rgba(255, 255, 255, .75);
        width: 250px;
        min-height: auto;
    }
    .events-details {
        position: absolute;
        top: 0;
        right: 15%;
    }
    .prev-image {
        max-width: 70px;
    }
    .next-image {
        max-width: 70px;
    }
}

