.st-home-column-1 p {
    line-height: 1.7;
}
.log-smart-trips {
    grid-template-rows: auto 160px 25px auto;
}
.standalone-grid h3 {
    color: var(--ship-gray);
}
.stats {
    color: var(--finn);
    font-family: var(--font-family-lato);
    font-weight: 800;
    font-size: 20px;
}

.two-col-span {
    grid-column: 1 / 3;
}
.three-col-span {
    grid-column: 1 / 4;
}
.grid-three-column {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.grid-three-column > *:nth-child(2) {
    margin-bottom: 1em;
}

.log-smart-trips h3 {
    grid-column: 1 / 3;
}
.log-smart-trips p {
    grid-column: 1 / 3;
}
.log-smart-trips img {
    grid-column: 1 / 3;
    width: 100%;
    margin: 0 auto;
}

/*#############  STATISTICS CARD  ###########*/
.hand_holding_iphone_1 {
    max-width: 300px;
    position: relative;
}
.statistics-card div {
    text-align: center;
}
.statistics-card p {
    text-align: center;
}
.path-200, .path-207 {
    max-width: 30px;
}
.standalone-grid {
    background-color: #efefef;
    padding: 1em;
}
.smart-trip-statistics-slideshow {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center; /*vertical align buttons/number of stats*/
}
.ellipse, .ellipse-active {
    border-radius: 3px;
    height: 6px;
    width: 6px;
    margin: 5px;
}
.ellipse {
    background-color: var(--sail);
}
.ellipse-active {
    background-color: var(--green-blue);
}
.pagination {
    grid-template-columns: repeat(4, 20px);
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.bicycle-icon {
    max-width: 200px;
}
.st-home-column-1 {
    grid-row: 2;
    padding: 1em;
}
.st-home-column-2 {
    grid-row: 1;
    align-content: center;
}
/*###############  END STATISTICS  ##################*/

/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/
/*######################  MEDIA QUERIES  ###########################*/

@media screen and (min-width: 400px) {
    .recent-winners {
        grid-row: 4;
    }
    .trip-log {

    }
    .log-smart-trips {
        grid-template-rows: auto 90px 25px auto;
    }
}

@media screen and (min-width: 768px) {
    .log-smart-trips {
        grid-template-rows: auto 130px 25px auto;
    }
    .grid-three-column {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .smart-trips_2024 {
        position: relative;
        top: 0;
        left: 0;
    }
    .st-home-column-1 {
        grid-row: 2;
        padding: 1em;
    }
    .st-home-column-2 {
        grid-row: 1;
        align-content: center;
    }
    .st-home-grid-two-column {
        grid-template-columns: 50% 50%;
    }
    .log-smart-trips {
        border-right: 2px solid #aaa;
    }
    .log-smart-trips p {
        grid-column: 1 / 2;
    }
    .log-smart-trips img {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        align-self: end;
    }
    .grid-three-column > *:nth-child(2) {
        margin-bottom: initial;
    }
    /*specific position of hand holding iPhone*/
    .hand_holding_iphone_1 {
        min-width: 300px;
        position: relative;
        left: -80px;
    }
    .stats {
        font-size: 26px;
    }
}

@media screen and (min-width: 992px) {
    .st-grid-two-column {
        grid-template-columns: 30% 70%;
    }
    .st-home-column-1 {
        grid-row: 1;
        padding: 1em;
    }
    .st-home-column-2 {
        grid-row: 1;
        align-content: center;
    }

    /*PAGE SPECIFIC STYLING*/
    .st-home-column-1 {
        padding: .5em;
    }
    /*END STYLING*/

    /*TOP LEFT OFFSET OF HERO IMAGE (MAIN PAGE ONLY)*/
    .smart-trips_2024 {
        position: relative;
        top: -75px;
        left: 55px;
    }
    .grid-three-column {
        grid-template-columns: .9fr 1fr .5fr;
        align-items: initial;
        justify-content: initial;
        justify-items: initial;
    }
    .standalone-grid {
         padding: 2em 5em 0em 2em;
     }
    .bicycle-icon {
        max-width: 350px;
    }
    .st-grid-two-column {
        grid-template-columns: 30% 70%;
    }
    .stats {
        font-size: 38px;
    }
}
@media screen and (min-width: 1200px) {
    .st-home-grid-two-column {
        padding-left: 4em;
    }
    .log-smart-trips {
        grid-template-rows: auto 120px 25px auto;
    }
}