.ride-share {
    margin-bottom: 3em;
}

@media screen and (min-width: 480px) {
    .image-vanpool {
        max-width: 300px;
        align-self: center;
        justify-self: center;
    }
}
@media screen and (min-width: 768px) {
    .ride-share {
        grid-column-gap: 3em;
    }
    .ride-share img {
        align-self: center;
        justify-self: center;
    }
}
@media screen and (min-width: 992px) {
    .ride-share {
        padding: 0 1em 1em 1em;
    }
    .ride-share p  {
        margin: .7em 0 .7em 0;
    }
    .ride-share img {
        grid-column: 2;
    }
    .ride-share p, .ride-share h3, .ride-share ul  {
        grid-column: 1;
    }
    .image-two-people-in-car {
        grid-row: 1 / span 7;
    }
    .image-carpool {
        grid-row: 8 / span 8;
    }
    .ride-share .image-vanpool {
        justify-self: start;
        grid-row: 18 / span 10;
    }
    .ride-share h3 {
        margin: 1em 0 0 0;
        padding: 0;
    }
    .ride-share h3:last-of-type {
        margin-bottom: .5em;
    }
    .ride-share .rideshare-vanpool-information {
        margin-bottom: .5em;
    }

}
@media screen and (min-width: 1200px) {
    .image-two-people-in-car {
        grid-row: 1 / span 6;
    }
    .image-carpool {
        grid-row: 7 / span 8;
    }
}