* {
    color: var(--ship-gray);
}
h2 {
    font-size: var(--font-size-xxl);
}

header nav li:has(.remove-through-css) {
    display: none;
}
.trip-diary-content {
    margin-top: 4.4em;
}
.trip-diary-stat-info {
    line-height: 1.5;
}
.trip-diary-grid-two-column {
    grid-template-columns: 1fr;
    padding: 1em;
}
.trip-diary .calendar-banner {
    background-color: var(--finn);
    width: 100%;
    padding: 1em;
    grid-row: 1;
    grid-column: 1 / 2;
}
.trip-diary .calendar-banner span {
    font-family: var(--font-family-lato), sans-serif;
    color: #FFFFFF;
}
.trip-diary ul {
    font-family: var(--font-family-lato), sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.trip-diary .calendar-details {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}
.trip-diary span {
    color: var(--green-blue);
    font-weight: bold;
}
.trip-diary .calendar-overlay {
    justify-items: center;
    align-items: center;
}
.trip-diary .calendar {
    grid-row: 2;
    grid-area: 2 / 1;
}
.trip-diary .calendar-details {
    max-width: 200px;
    grid-row: 2;
    grid-area: 2 / 1;
}
h2:first-of-type {
    margin-bottom: .3em;
}
h2:nth-of-type(2) {
    margin-top: .7em;
    margin-bottom: 0;
}
h2:nth-of-type(2) + p {
    margin-top: .2em;
}
.trip-diary small {
    font-family: var(--font-family-lato),sans-serif;
}
.trip-diary .trip-diary-savings {
    margin: 1em 0 0 0;
    font-weight: bold;
}
.trip-diary .trip-diary-savings li:nth-of-type(even) {
    margin: 0 0 1.3em 0;
}
.trip-diary .trip-diary-savings li:nth-of-type(odd) {
    margin-bottom: .5em;
}
.trip-diary-individual-stats strong, .trip-diary-app-info strong, .trip-diary-program-stats strong {
    color: var(--green-blue);
}
.trip-diary-app a {
    margin-bottom: .2em;
}
.trip-diary-app-info {
    line-height: 1.5;
    margin-top: 1.6em;
}
@media screen and (min-width: 600px) {
    .trip-diary .calendar-details {
        max-width: 300px;
    }
    .trip-diary .trip-diary-savings {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(odd) {
        grid-row: 1;
        justify-self: center;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(even) {
        grid-row: 2;
        justify-self: center;
    }
    .image-trip-diary-iphone {
        grid-column: 2;
        grid-row: 1 / span 5;
        max-width: 300px;
    }
    .trip-diary-app {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .trip-diary-grid-two-column {
        grid-template-columns: 1fr;
        padding: 1em 1em 0 1em;
    }

}

@media screen and (min-width: 992px) {
    .trip-diary-stat-info {
        margin-bottom: 1.3em;
    }
    .trip-diary-column-2 {
        margin-top: -1.6em;
    }
    .trip-diary-savings li:nth-of-type(even) {
        font-size: 17px;
    }
    .trip-diary-grid-two-column {
        grid-template-columns: 60% 40%;
        grid-column-gap: 2em;
    }
    .trip-diary h2, .trip-diary h2, .trip-diary-app, .trip-diary-savings, .trip-diary p {
        grid-column: 2;
    }
    .trip-diary .calendar-overlay {
        grid-row: 1;
    }
    .trip-diary .calendar-overlay {
        align-self: start;
        align-items: center;
        grid-row: 1 / span 8;
    }
    .trip-diary .calendar-banner {
        grid-row: 1;
    }
    .trip-diary .calendar {
        grid-row: 2 / span 6;
    }
    .trip-diary .trip-diary-app {
        grid-row: 7;
    }
    .trip-diary .image-trip-diary-iphone {
        grid-row: 4 / span 3;
    }
    .trip-diary small {
        grid-column: 1 / 2;
        grid-row: 5 / span 2;
        align-self: center;
        padding-bottom: 1em;
    }
    .trip-diary-individual-stats {
        grid-column: 1 / 3;
    }
    .trip-diary-program-stats {
        grid-column: 1 / 3;
    }

    .trip-diary .trip-diary-app-info {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1280px) {
    .tripsLogged {
        margin-bottom: 2em;
    }
    .tripProgressMeter img {
        width: 100%;
    }
    .trip-diary-individual-stats {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .trip-diary-program-stats {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .trip-diary .trip-diary-app-info {
        grid-column: 1;
        grid-row: 3;

    }
    .trip-diary small {
        justify-self: end;
    }
    .trip-diary .image-trip-diary-iphone {
        align-self: end;
        grid-column: 2;
        grid-row: 1 / span 9;
        min-width: 300px;
        position: relative;
        left: -4em;
    }
    .trip-diary .trip-diary-app {
        grid-template-columns: 60% 40%;
    }
    .trip-diary-grid-two-column {
        grid-column-gap: 6em;
        grid-template-columns: 1fr .6fr;
        justify-self: center;
    }
    .trip-diary .calendar-details {
        grid-area: 3 / 1;
    }

    .trip-diary .trip-diary-savings li:nth-of-type(odd) {
        grid-row: 1;
        justify-self: left;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(even) {
        grid-row: 2;
        justify-self: left;
    }
}