* {
    color: var(--ship-gray);
}
h2 {
    font-size: var(--font-size-xxl);
}

header nav li:has(.remove-through-css) {
    display: none;
}
.trip-diary-content {
    margin-top: 4.4em;
}
.trip-diary-stat-info {
    line-height: 1.5;
}
.trip-diary-grid-two-column {
    grid-template-columns: 1fr;
    padding: 1em;
}
.trip-diary .calendar-banner {
    background-color: var(--finn);
    width: 100%;
    padding: 1em;
    grid-row: 1;
    grid-column: 1 / 2;
}
#milestone-rewards-title {
    margin-bottom: 1em;
}


/*##########################################*/
/*############ PROGRESS BAR ################*/
/*##########################################*/

#progress-container {
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    padding: 1px;
    background-color: transparent;
    box-sizing: border-box;
}
#progress-bar {
    /*starts at 0 here (which is why the % symbol), will update via js based on db value*/
    width: 0%;
    height: 100%;
    background-color: var(--citrus);
}
.progress-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.progress-container {
    position: relative;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    padding: 1px;
    box-sizing: border-box;
    background-color: transparent;
}
.progress-bar {
    height: 100%;
    width: 50%;
    background-color: var(--citrus);
    box-sizing: border-box;
}
.tripProgressMeter .progress-wrapper .progress-labels span {
    color: var(--ship-gray);
    font-weight: bolder !important;
    font-family: var(--font-family-lato), sans-serif;
}
.progress-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 12px;
}

/*###########################################*/
/*########## END PROGRESS BAR ###############*/
/*###########################################*/










/*##########################################*/
/*################ CALENDAR ################*/
/*##########################################*/
#calendar-container {
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    top: -30px;
}

#calendar-header {
    background-color: var(--finn);
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: .6em; /*move calendar title down against week days*/
}

#calendar-header h2 {
    font-size: var(--font-size-xxxxl);
    color: #fff;
    text-align: left;
    padding-top: .2em;
    padding-left: 1em;
    padding-bottom: .3em;
}

#calendar-days, #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#calendar-days {
    background-color: #f0f0f0;
    font-weight: bold;
}

#calendar-days div {
    font-size: 12px; /*needed to make smaller to align borders, was 14px*/
    border: 1px solid #ccc;
    padding: 8px 4px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

/*Div's that make up the days*/
#calendar-grid div {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 80px;
    text-align: left;
    box-sizing: border-box;
}

#calendar-grid div.selected {
    background-color: var(--citrus) !important;
}

#calendar-controls {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding: 6px 3px 0 3px;
    background-color: #fff;
    border: none !important;
}
#prev-month,
#next-month {
    cursor: pointer;
}

#calendar-days,
#calendar-grid {
    gap: 0;
}
#calendar-grid div{
    cursor: pointer;
}
#calendar-grid div.other-month {
    color: #999;
}
#calendar-grid div:not(.other-month) {
    font-weight: bold;
}
#calendar-grid div:hover {
    background-color: #f0f0f0;
}
#calendar-grid div.disabled-day {
    /*background-color: #eee;*/
    pointer-events: none;
    cursor: default !important;
}
.striped-week {
    background-color: #f9f9f9;
}

/*######## FORM #########*/
/*######## FORM #########*/
/*######## FORM #########*/
#info-form {
    font-size: 13px;
}
#day-form {
    margin-top: 20px;
}
#selected-date-title {
    margin-top: 0;
}
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    background-color: white;
    padding: 20px 30px;
    font-family: var(--font-family-lato), sans-serif;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border: none;
}

/*both buttons*/
.form-buttons button {
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#cancel-button {
    background-color: #ddd;
    color: var(--ship-gray);
}
#save-button {
    background-color: var(--citrus);
}
.distance-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.distance-note {
    font-size: 10px;
    color: #aaa !important;
    margin: 0;
    padding: 0;
}

#info-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#info-form input,
#info-form select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}
.flex-row {
    display: flex;
    gap: 12px;
    margin-top: .5em;
    margin-bottom: .5em;
}
.half-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.half-field label {
    margin-bottom: .5em;
}

.form-divider {
    border: none;
    height: 3px;
    background-color: #efefef;
    width: 100%;
    margin: 10px auto 20px auto;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-header h3 {
    margin: 0;
    font-size: 1.25rem;
}
.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--green-blue);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: -2px;
    padding: 0;
    line-height: 1;
    font-weight: 100 !important;
}
.close-button:hover {
    color: #000;
}
#info-form input:focus,
#info-form select:focus,
#info-form textarea:focus {
    outline: none;
    border: 2px solid var(--citrus);
}
#info-form input,
#info-form select,
#info-form textarea {
    border: 1px solid #ccc;
    transition: border-color 0.2s ease;
}
#info-form input,
#info-form select,
#info-form textarea {
    border-radius: 0;
}
#prev-month, #next-month {
    border: #ccc 1.5px solid;
    border-radius: 3px;
    padding: .6em 1em .6em 1em;
}
#prev-month, #prev-month-arrow,
#next-month, #next-month-arrow {
    font-weight: bolder !important;
    color: var(--ship-gray);
}
#prev-month-arrow,
#next-month-arrow {
    font-size: 6px !important;
    color: var(--ship-gray);
    position: relative;
    top: -2px;
}
.autofill-group {
    display: flex;
    flex-direction: column;
    gap: 4px; /* Tighten just this label-input pair */
}
/* ########## END DAY FORM ##########*/
/* ########## END DAY FORM ##########*/
/* ########## END DAY FORM ##########*/






/* ########## SAVED TRIP HOVER DIALOG ##########*/
/* ########## SAVED TRIP HOVER DIALOG ##########*/
/* ########## SAVED TRIP HOVER DIALOG ##########*/



/* ########## END SAVED TRIP HOVER DIALOG ##########*/
/* ########## END SAVED TRIP HOVER DIALOG ##########*/
/* ########## END SAVED TRIP HOVER DIALOG ##########*/



/*##########################################*/
/*############## END CALENDAR ##############*/
/*##########################################*/





.trip-diary .calendar-banner span {
    font-family: var(--font-family-lato), sans-serif;
    color: #FFFFFF;
}
.trip-diary ul {
    font-family: var(--font-family-lato), sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.trip-diary .calendar-details {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}
.trip-diary span {
    color: var(--green-blue);
    font-weight: bold;
}
.trip-diary .calendar-overlay {
    justify-items: center;
    align-items: center;
}
.trip-diary .calendar {
    grid-row: 2;
    grid-area: 2 / 1;
}
.trip-diary .calendar-details {
    max-width: 200px;
    grid-row: 2;
    grid-area: 2 / 1;
}
h2:first-of-type {
    margin-bottom: .3em;
}
h2:nth-of-type(2) {
    margin-top: .7em;
    margin-bottom: 0;
}
h2:nth-of-type(2) + p {
    margin-top: .2em;
}
.trip-diary small {
    font-family: var(--font-family-lato),sans-serif;
}
.trip-diary .trip-diary-savings {
    margin: 1em 0 0 0;
    font-weight: bold;
}
.trip-diary .trip-diary-savings li:nth-of-type(even) {
    margin: 0 0 1.3em 0;
}
.trip-diary .trip-diary-savings li:nth-of-type(odd) {
    margin-bottom: .5em;
}
.trip-diary-individual-stats strong, .trip-diary-app-info strong, .trip-diary-program-stats strong {
    color: var(--green-blue);
}
.trip-diary-app a {
    margin-bottom: .2em;
}
.trip-diary-app-info {
    line-height: 1.5;
    margin-top: 1.6em;
}
@media screen and (min-width: 600px) {
    .trip-diary .calendar-details {
        max-width: 300px;
    }
    .trip-diary .trip-diary-savings {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(odd) {
        grid-row: 1;
        justify-self: center;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(even) {
        grid-row: 2;
        justify-self: center;
    }
    .image-trip-diary-iphone {
        grid-column: 2;
        grid-row: 1 / span 5;
        max-width: 300px;
    }
    .trip-diary-app {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .trip-diary-grid-two-column {
        grid-template-columns: 1fr;
        padding: 1em 1em 0 1em;
    }

}

@media screen and (min-width: 992px) {
    .trip-diary-stat-info {
        margin-bottom: 1.3em;
    }
    .trip-diary-column-2 {
        margin-top: -1.6em;
    }
    .trip-diary-savings li:nth-of-type(even) {
        font-size: 17px;
    }
    .trip-diary-grid-two-column {
        grid-template-columns: 60% 40%;
        grid-column-gap: 2em;
    }
    .trip-diary h2, .trip-diary h2, .trip-diary-app, .trip-diary-savings, .trip-diary p {
        grid-column: 2;
    }
    .trip-diary .calendar-overlay {
        grid-row: 1;
    }
    .trip-diary .calendar-overlay {
        align-self: start;
        align-items: center;
        grid-row: 1 / span 8;
    }
    .trip-diary .calendar-banner {
        grid-row: 1;
    }
    .trip-diary .calendar {
        grid-row: 2 / span 6;
    }
    .trip-diary .trip-diary-app {
        grid-row: 7;
    }
    .trip-diary .image-trip-diary-iphone {
        grid-row: 4 / span 3;
    }
    .trip-diary small {
        grid-column: 1 / 2;
        grid-row: 5 / span 2;
        align-self: center;
        padding-bottom: 1em;
    }
    .trip-diary-individual-stats {
        grid-column: 1 / 3;
    }
    .trip-diary-program-stats {
        grid-column: 1 / 3;
    }

    .trip-diary .trip-diary-app-info {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1280px) {
    .tripsLogged {
        margin-bottom: 2em;
    }
    .tripProgressMeter img {
        width: 100%;
    }
    .trip-diary-individual-stats {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .trip-diary-program-stats {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .trip-diary .trip-diary-app-info {
        grid-column: 1;
        grid-row: 3;

    }
    .trip-diary small {
        justify-self: end;
    }
    .trip-diary .image-trip-diary-iphone {
        align-self: end;
        grid-column: 2;
        grid-row: 1 / span 9;
        min-width: 300px;
        position: relative;
        left: -4em;
    }
    .trip-diary .trip-diary-app {
        grid-template-columns: 60% 40%;
    }
    .trip-diary-grid-two-column {
        grid-column-gap: 6em;
        grid-template-columns: 1fr .6fr;
        justify-self: center;
    }
    .trip-diary .calendar-details {
        grid-area: 3 / 1;
    }

    .trip-diary .trip-diary-savings li:nth-of-type(odd) {
        grid-row: 1;
        justify-self: left;
    }
    .trip-diary .trip-diary-savings li:nth-of-type(even) {
        grid-row: 2;
        justify-self: left;
    }
}