:root { 
  --citrus: #a1c11e;
  --finn: #69165e;
  --green-blue: #1a6db5;
  --sail: #bce0fd;
  --ship-gray: #3d3c3e;
  --white: #ffffff;
 
  --font-size-l: 15px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 16px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 34px;
 
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-lato: "Lato", Helvetica;
}
.lato-normal-ship-gray-14px {
  color: var(--ship-gray);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-green-blue-12px {
  color: var(--green-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-ship-gray-14px {
  color: var(--ship-gray);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-green-blue-14px {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-ship-gray-14px-2 {
  color: var(--ship-gray);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
}

.lato-normal-citrus-14px {
  color: var(--citrus);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-green-blue-16px {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-green-blue-34px {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-finn-12px {
  color: var(--finn);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-ship-gray-20px {
  color: var(--ship-gray);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-green-blue-14px {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-green-blue-14px-2 {
  color: var(--green-blue);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
}
